body {
    font-family: 'Slackey', arial, serif;
    text-shadow: 1px 1px 1px #ddd;
    background-color: #abc7e7;
}

h2 {
    color: #512994;
}

a {
    color: #002299;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4770ff;
}

.no-webgl .webgl-info {
    border: 1px solid #f51c1c;
    width: 400px;
    margin: 20px auto;
    padding: 20px 10px 20px 70px;
    text-align: center;
    background: url(../img/error.png) no-repeat 5px 5px #fccccc;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.no-webgl #gra {
    display: none;
}

.webgl div.webgl-info {
    display: none;
}

#plansza {
    width: 500px;
    height: 500px;
    float: left;
    border: 5px solid #ffffff;
}

#gra {
    width: 750px;
    /*margin: 10px auto;*/
}

#menu-dolne {
    clear: both;
    width: 700px;
    background-color: #f7f5f5;
    padding: 10px 0 10px 30px;

    overflow: hidden;

    border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;

    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

#menu-dolne .item {
    float: left;
    width: 120px;
    height: 30px;
    padding-top: 10px;
}

#menu-dolne .item span {
    padding-left: 4px;
    color: #6767e4;
}

#menu-boczne {
    width: 180px;
    height: 480px;
    float: left;
    text-align: center;
    padding: 10px 20px 10px 30px;
    background-color: #f7f5f5;

    border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
}

#menu-boczne a {
    font-size: 90%;
    color: black;
    display: block;
    width: 178px;
    height: 30px;
    margin-left: 6px;
    background: url("../img/btn-inactive.png") no-repeat 5px 0;
    padding: 8px 0 0 0;
}

#menu-boczne a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    height: 50px;
    width: 185px;
    padding-top: 15px;
    margin-left: 0;
    background-image: url("../img/btn-active.png");
}

#menu-return {
    margin-top: 30px;
}

#authors-info {
    background-color: #fff;

    margin: 10px auto;
    padding: 20px;

    width: 730px;
    height: 550px;
    position: absolute;

    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}